{include "Admin/Include/header.html"}
<!--nav-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">主页 </a></li>
                <li><a href="/Admin/WordType/index">词条分类</a></li>
                <li>
                    <a href="/Admin/WordTemplate/index">模板分类</a>
                </li>
                <li class="active">
                    <a href="/Admin/Word/index">词条审核<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <!--nav-->

        <!--pageContent-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="sub-header">待审核词条列表</h1>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>词条名字</th>
                        <th>词条内容</th>
                        <th>词条分类Id</th>
                        <th>模板Id</th>
                        <th>版本</th>
                        <th>作者</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {foreach $data['content'] as $v}
                    <tr>
                        <td>{$v['id']}</td>
                        <td>{$v['word']}</td>
                        <td> {$v['content']}</td>
                        <td> {$v['type']}</td>
                        <td>{$v['template']}</td>
                        <td>{$v['version']}</td>
                        <td>{$v['authorName']}</td>
                        <td>{$v['createTime']}</td>
                        <td>{$v['updateTime']}</td>
                        <td>
                            <button type="button" value="{$v['id']}" id="agree" class="btn btn-default" onclick="agree()">通过</button>
                            <button type="button" value="{$v['id']}" id="noAgree" class="btn btn-default" onclick="noAgree()">不通过</button>
                            </td>
                    </tr>
                    {/foreach}

                    </tbody>
                </table>
                <!--分页-->
                <nav aria-label="Page navigation" style="text-align: center">
                    <ul class="pagination">
                        <li class="{$pre}">
                            {if $pre eq 'disabled'}
                            <span aria-hidden="true">&laquo;</span>
                            {else}
                            <a href="/Admin/Word/index?pageIndex={$data['pageIndex']-1}&&pageSize={$data['pageSize']}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            {/if}
                        </li>
                        {for $var=$data['pageIndex'] to $data['total']}
                        <li><a href="/Admin/Word/index?pageIndex={$var}&&pageSize={$data['pageSize']}">{$var}</a></li>
                        {/for}
                        <li>
                            <a href="/Admin/Word/index?pageIndex={$data['pageIndex']+1}&&pageSize={$data['pageSize']}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li><span>总共{$data['total']}页</span></li>
                        <li><span>显示<select name="pageSize" id="pageSize" onclick="my()">
                            <option value="{$data['pageSize']}">{$data['pageSize']}</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>条</span></li>
                    </ul>
                </nav>
                <!--分页-->
            </div>
        </div>
        <!--pageContent-->
    </div>
</div>

{include "Admin/Include/foot.html"}

<script type="text/javascript">
    function my() {
        var mySelect = document.getElementById('pageSize');
        var index = mySelect.selectedIndex;
        var pageSize = mySelect.options[index].value;
        location.href = "/Admin/Word/index?SpageSize=" + pageSize;
    }

    function noAgree() {

        var isVerify = -1 ;
        var wordVerifyId = document.getElementById('noAgree').value;
        var api = 1;

        $.ajax({
            type:'POST',
            url:'/Admin/Word/wordIsVerified',
            data:{
                isVerify:isVerify,
                wordVerifyId:wordVerifyId,
                api:api
            },
            async: false,
            error: function(request) {  //失败的话
                alert("Connection error");
            },
            success:function (data) {

                console.log(data);
                var dataJson = JSON.parse(data);
                if (dataJson.data.updateRow){
                    alert('审核未通过成功')
                    window.location.href = ''
                }else{
                    alert('审核未通过失败')
                }
            }
        })
    }
    function agree() {

        var isVerify = 1 ;
        var wordVerifyId = document.getElementById('agree').value;
        var api = 1;

        $.ajax({
            type:'POST',
            url:'/Admin/Word/wordIsVerified',
            data:{
                isVerify:isVerify,
                wordVerifyId:wordVerifyId,
                api:api
            },
            async: false,
            error: function(request) {  //失败的话
                alert("Connection error");
            },
            success:function (data) {

                console.log(data);
                var dataJson = JSON.parse(data);
                if (dataJson.data.updateRow){
                    alert('审核通过成功')
                    window.location.href = ''
                }else{
                    alert('审核通过失败')
                }
            }
        })
    }
</script>