<footer class="footer">
    <div class="layout">
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    新手上路
                </div>
                <div class="col-sm-4">
                    我有疑问
                </div>
                <div class="col-sm-4">
                    投诉建议
                </div>
            </div>
        </div>
        ©CopyRight 2015-2017, IZUQUN.COM,鑫火信息技术（上海）有限公司, Inc.All Rights Reserved.
        <a href="http://www.miibeian.gov.cn/">沪ICP备15025148号-2</a>
    </div>
</footer>
</body>

</html>