<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/App/Views/Assets/imgs/logo_300_300.png">

    <title>族群百科 后台管理 |</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/App/Views/Assets/admin/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/App/Views/Assets/admin/css/dashboard.css" rel="stylesheet">


    <script src="/App/Views/Assets/admin/js/ie-emulation-modes-warning.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/App/Views/Assets/admin/js/holder.min.js"></script>
    <script src="/App/Views/Assets/admin/js/ie10-viewport-bug-workaround.js"></script>
</head>
<body>
