{include "Admin/Include/header.html"}
{include "Admin/Include/top-menu.html"}
{include "Admin/Include/left-nav.html"}
<script src="/App/Views/Assets/editor_md/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            path : "/App/Views/Assets/editor_md/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
        });

        $("#editormd").css("height",window.innerHeight-150)
    });
</script>

        <!--pageContent-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="sub-header">添加模板</h1>
            <div class="table-responsive">
                <!--//表单-->
                <form name="form1" id="form1">
                    <div class="form-group">
                        <label for="typeId">TypeId</label>
                        <input type="text" class="form-control" name="typeId"  id="typeId" placeholder="词条分类Id">
                    </div>
                    <div class="form-group">
                        <label for="name">名字</label>
                        <input type="text" class="form-control" name="name"  id="name" placeholder="名字">
                    </div>

                    <link rel="stylesheet" href="/App/Views/Assets/editor_md/css/editormd.min.css" />
                    <div class="form-group">
                        <label for="content">内容</label>
                        <div id="editormd">
                            <textarea type="text" name="content" id="content" style="display:none;"></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" onclick="add()">添加</button>
                </form>
                <!--form-->
            </div>
        </div>
        <!--pageContent-->
    </div>
</div>

{include "Admin/Include/foot.html"}

<script type="text/javascript">
    function add() {

        var typeId = form1.typeId.value
        var name = form1.name.value
        var content = form1.content.value

        $.ajax({
            type: "POST",   //提交的方法
            url:"/Admin/WordTemplate/add", //提交的地址
            data:{
                'typeId' : typeId,
                'name'   : name,
                'content': content,
                "api":  1
            },
            async: false,
            error: function(request) {  //失败的话
                alert("Connection error");
            },
            success: function(data) {  //成功
                console.log(data);
                var dataJson = JSON.parse(data);
                if (dataJson.data.templateId) {
                    alert("新增模板成功")
                    window.location.href = "/Admin/WordTemplate/index"
                } else {
                    alert("没有新增")
                }
            }
        });
    }
</script>